[Desktop Entry]
Name=WireGuard VPN Manager
Comment=Manage and import WireGuard VPN configurations
Exec=pkexec /home/augusto/VPN_casa/VPN_client/VPNClientGUI.py
Icon="WireguardIcon.png"
Terminal=false
Type=Application
Categories=Network;VPN;Utility;
Keywords=WireGuard;VPN;Manager;Config;Import;
